bin/Debug-windows-x86_64/engine/engine.lib
bin/Debug-windows-x86_64/engine/engine.pdb
bin/Debug-windows-x86_64/engine/engine.idb
bin/Debug-windows-x86_64/editor/

bin/Release-windows-x86_64/engine/engine.lib
bin/Release-windows-x86_64/engine/engine.pdb
bin/Release-windows-x86_64/editor/

bin/Distribution-windows-x86_64/engine/engine.lib
bin/Distribution-windows-x86_64/engine/engine.pdb
bin/Distribution-windows-x86_64/editor/

bin/engine.pdb
bin/editor/
bim/*.exe
.vscode/
.vs/